/************************/
/* About Section Styles */ 
/************************/

.allAboutMe {
  display: flex;
  width: 100%;

  .headShotContainer{
    width: 45%;
    margin-right: 30px;
    
    img {
      border-radius: 10px;
      width: 100%;
    }
  }
}

  .aboutMeContent {
    width: 100%;
    text-align: left;

    p:nth-child(2) {
      padding: 20px 0 10px 0;
  
    }
  }
