/**************************/
/* Contact Section Styles */ 
/**************************/

.contactSection {
  margin: 60px 0 0 0;
}

.socialsAndForm {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 100%;
}

.blurbAndSocials {
  width: 45%; 
  display: flex;
  flex-direction: column;
  text-align: left;

  h3 { 
    padding: 20px 0;
  }

  h4 {
    padding: 20px 0;

    a:hover {
      color: $supAccentThree;
      transition: 0.5s;
    }

    a:active {
      color: $supAccentTwo;
    }
  }
}

.socialMedia nav {
  display: inline-block;
} 

.socialMedia ul {
  display: flex;

  li {
    padding: 0 30px 0 0;

    i {
      font-size: 3rem;
    }
  }
}

.socialMedia {
  a:focus,
  a:hover {
    color: $supAccentThree;
    transition: 0.5s; 
    cursor: pointer;
  }

  a:active {
    color: $supAccentTwo;
  }
}
  
.formOnly {
  width: 53%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.topForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

  .nameForm,
  .emailForm {
    width: 95%;

    .name,
    .email {
      width: 100%;
    }
    
  }
  .nameForm {
    margin-right: 10px;
  }
  
  .emailForm {
    margin-left: 10px;
  }
}

.bottomForm {
  width: 100%;
}

.message {
  width: 100%;
}

button {
  background-color: $supAccent; 
  color: $secondaryColour;
  font-family: $bodyFont;
  font-size: 2rem; 
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid $secondaryColour; 
  border-radius: 5px;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 15px 25px;
  align-items: center;
}

input, 
textarea {
  border: 2px solid $secondaryColour; 
  background-color: $supAccent; 
  padding: 15px 20px; 
  color: $supAccentTwo;
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: $bodyFont;
  border-radius: 5px;
}

::placeholder {
  font-family: $bodyFont;
  font-size: 1.4rem; 
  letter-spacing: 1.8px;
  font-weight: 300;
  color: $supAccentTwo;
}

input:focus,
textarea:focus,
button:focus {
  border-radius: 5px;
  border: 2px solid $supAccentTwo;
}

input:hover,
textarea:hover {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid $supAccentThree;
}

button:hover {
  border: 2px solid $supAccentTwo; 
  background-color: $secondaryColour; 
  color: $primaryColour;
  cursor: pointer;
  transition: 0.5s;
}

textarea {
  resize: none;
  width: 100%;
  margin-bottom: 20px;
}


