/*****************/
/* Global Styles */ 
/*****************/

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: $supAccent;
  color: $secondaryColour;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $secondaryColour;
}

.skip-link:focus {
  left: 5px;
  top: 5px;
}

body { 
  background: $supAccent;
  text-align: center; 
  font-family: $bodyFont; 
  font-weight: 100; 
  color: ffffff; 
  // overflow-x: hidden;
} 

h1 { 
font-family: $headerOneFont;
color: #ffffff; 
font-weight: 700; 
font-size: 8.5rem; 
letter-spacing: 1px;
} 

h2 {
  font-family: $headerOneFont;
  color: #ffffff; 
  font-weight: 500; 
  font-size: 5.5rem; 
  letter-spacing: 1px;
  padding-bottom: 80px;
}

h3 {
  font-family: $bodyFont;
  color: $supAccentTwo; 
  font-size: 3rem; 
  font-weight: 400; 
  padding-bottom: 35px;
}

h4 {
  font-family: $reviewFont;
  color: $supAccentTwo; 
  font-size: 2.5rem; 
  font-weight: 400;
  padding-bottom: 25px;
}

a {
  font-family: $bodyFont;
  font-weight: 400;
  color: $secondaryColour;
  font-size: 1.7rem;
  line-height: 1.8rem;
  letter-spacing: 1.1px;
}

p {
  font-family: $bodyFont;
  font-weight: 300;
  color: $supAccentTwo;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 1.5px;
}

li {
  font-family: $bodyFont;
  font-weight: 400;
  color: $secondaryColour;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 1px; 
}

span {
  color: $supAccentTwo;
  font-weight: 500;
  font-size: 100%;
}

li, 
span {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
}

.allContentContainer { 
  box-shadow: 0px 0px 25px 2px $secondaryColour; 
  border-radius: 10px;
  background: $primaryColour;
}

.wrapper {
  width: 80%;
  margin: 100px auto; 
  padding: 60px;
  overflow-x: hidden;
}