/*****************/
/*    Mixins     */ 
/*****************/

@mixin backgroundGradient {
  background: hsla(0, 0%, 100%, 1);
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 1) 51%, hsla(233, 25%, 26%, 0.9) 80%);
  background: -moz-linear-gradient(180deg, hsla(0, 0%, 100%, 1) 51%, hsla(233, 25%, 26%, 0.9) 80%);
  background: -webkit-linear-gradient(180deg, hsla(0, 0%, 100%, 1) 51%, hsla(233, 25%, 26%, 0.9) 80%);
  z-index: 5;
}

@mixin backgroundImage {
   background-image: url("../assets/leafBackground.png");
   z-index: 0;
}