/*********************/
/* Navagation Styles */ 
/*********************/
body { 
  position: relative;

  .nav {
    position: fixed;
    right: 15px;
    top: 28%;

    li {
      padding: 10px 0;

      .eventScroll {
        visibility: hidden;
      }

      i {
        font-size: 3rem;
        color: $supAccentTwo;
        text-shadow: 2px 2px 1px $primaryColour;
      }
    }
  }
}
