/***************************/
/* Projects Section Styles */ 
/***************************/
.projectsSection h2 {
  margin-bottom: 5px;
}

.allProjects {
  display: flex;
  width: 100%;

  .imageContainer{
    width: 45%;
    margin-right: 30px;
    
    img {
      border-radius: 5px;
      width: 100%;
    }
  }
}

.projectsContent {
  width: 55%;
  text-align: left;

  h3 {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 15px;
  }

  .toolsUsed {
    margin-bottom: 15px;
    li   {
      display: inline-block; 
      text-align: center;
    }
    span {
      margin: 0 10px;
    }
  }
  .projectLinks {
    display: flex; 
    flex-direction: row;
    // align-items: center;
    a {
      text-align: center;
      color: $supAccentTwo;
      // text-shadow: 0.5px 2px 0.5px $primaryColour;
    }

    a:hover,
    a:focus {
      color: $supAccentThree;
      border-bottom: 2px solid $supAccentTwo;
      transition: 0.5s;
    }

    a:active {
      color: $supAccentTwo;
      border-bottom: 2px solid $supAccentThree;
    }

    span {
      margin: 0 10px;
    }
  }
}

.allProjects:nth-child(3) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: 50px 0;

  .imageContainer{
    margin-left: 30px;
    margin-right: 0px;
  }
  .projectsContent {
    text-align: right;

    .projectLinks {
      justify-content: flex-end;
    }

    a {
      color: $supAccentTwo;
    }

    a:hover,
    a:focus {
      color: $supAccentThree;
      border-bottom: 2px solid $supAccentTwo;
      transition: 0.5s;
    }

    a:active {
      color: $supAccentTwo;
      border-bottom: 2px solid $supAccentThree;
    }
  }
}
