/*****************/
/* Skills Styles */ 
/*****************/

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px; 

  li {
    width: 30%;

    i {
      width: 100%;
    }

    img {
      display: block; 
      margin: 0 auto;
    }
  }
}