/*************************/
/* Skills Section Styles */ 
/*************************/

.skillsSection {
  margin: 60px 0;
}

.border {
  border: 1px solid $secondaryColour;
  border-radius: 10px;
  padding-bottom: 20px;

  h2 {
    margin-top: 30px;
  }
}

.border ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  li {
    width: 30%;
    padding: 10px;

    i {
      width: 100%;
      font-size: 5rem;
    }

    img {
      display: block; 
      margin: 0 auto;
    }

    p {
      color: $secondaryColour;
      font-size: 1.4rem;
    }
  }
}