/*****************/
/*   Variables   */ 
/*****************/

/* Colours */ 
$primaryColour: #1f2336;
$secondaryColour: #ffc576; 
$supAccent: #313552; 
$supAccentTwo: #ffffff; 
$supAccentThree: #acc421;

/* Font Families */ 
$headerOneFont: 'Noto Serif', serif;
$headerTwoFont: 'Noto Sans HK', sans-serif;
$buttonFont: 'Noto Sans HK', sans-serif;
$bodyFont: 'Noto Sans HK', sans-serif;
$reviewFont: 'Karla', sans-serif;
$signFont:'Dancing Script', cursive;
