/*****************/
/* Setup Snippet */
/*****************/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-size: 62.5%;
}

/*****************/
/*   Variables   */
/*****************/
/* Colours */
/* Font Families */
/*****************/
/*    Mixins     */
/*****************/
/*****************/
/* Global Styles */
/*****************/
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #313552;
  color: #ffc576;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ffc576;
}

.skip-link:focus {
  left: 5px;
  top: 5px;
}

body {
  background: #313552;
  text-align: center;
  font-family: "Noto Sans HK", sans-serif;
  font-weight: 100;
  color: ffffff;
}

h1 {
  font-family: "Noto Serif", serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 8.5rem;
  letter-spacing: 1px;
}

h2 {
  font-family: "Noto Serif", serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 5.5rem;
  letter-spacing: 1px;
  padding-bottom: 80px;
}

h3 {
  font-family: "Noto Sans HK", sans-serif;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 35px;
}

h4 {
  font-family: "Karla", sans-serif;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 25px;
}

a {
  font-family: "Noto Sans HK", sans-serif;
  font-weight: 400;
  color: #ffc576;
  font-size: 1.7rem;
  line-height: 1.8rem;
  letter-spacing: 1.1px;
}

p {
  font-family: "Noto Sans HK", sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 1.5px;
}

li {
  font-family: "Noto Sans HK", sans-serif;
  font-weight: 400;
  color: #ffc576;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
}

span {
  color: #ffffff;
  font-weight: 500;
  font-size: 100%;
}

li,
span {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
}

.allContentContainer {
  -webkit-box-shadow: 0px 0px 25px 2px #ffc576;
          box-shadow: 0px 0px 25px 2px #ffc576;
  border-radius: 10px;
  background: #1f2336;
}

.wrapper {
  width: 80%;
  margin: 100px auto;
  padding: 60px;
  overflow-x: hidden;
}

/*****************/
/* Header Styles */
/*****************/
header {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #313552), color-stop(30%, rgba(49, 53, 82, 0.5)), to(rgba(255, 255, 255, 0))), url("../assets/leafBackground.jpg");
  background-image: linear-gradient(0deg, #313552 10%, rgba(49, 53, 82, 0.5) 30%, rgba(255, 255, 255, 0) 100%), url("../assets/leafBackground.jpg");
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
}

.welcome h1,
.welcome h3 {
  text-shadow: 2px 2px 1px #1f2336;
  margin-bottom: 2rem;
}

.welcome .scrollDownArrow {
  position: absolute;
  bottom: 5rem;
  z-index: 101;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.welcome .scrollDownArrow a {
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 2px 2px 1px #1f2336;
}

.welcome .scrollDownArrow a:hover,
.welcome .scrollDownArrow a:focus {
  color: #acc421;
  font-size: 3.5rem;
  text-shadow: 0px 0px 3px #ffffff;
}

/*********************/
/* Navagation Styles */
/*********************/
body {
  position: relative;
}

.nav {
  position: fixed;
  right: 15px;
  top: 28%;
}

.nav ul {
  margin-right: 8px;
}

.nav li {
  margin: 8px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 80px;
}

.nav li .eventScroll {
  display: none;
}

.nav li a {
  color: #ffffff;
  text-shadow: 2px 2px 1px #1f2336;
  width: 100%;
}

.nav li a:hover,
.nav li a:focus {
  color: #acc421;
  -webkit-transition-timing-function: ease-in 2s;
          transition-timing-function: ease-in 2s;
}

.nav div {
  padding: 15px 0px;
  display: block;
  width: 100%;
  text-shadow: 2px 2px 1px #1f2336;
  font-size: 1.4rem;
  color: #ffc576;
}

.nav div:hover,
.nav div:focus {
  color: #ffc576;
}

.nav i {
  padding: 5px 15px;
  width: 100%;
  font-size: 3rem;
}

/*****************************/
/*   Hamburger Menu Styles   */
/*****************************/
.mobileMenu {
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 20px;
  right: -115px;
  z-index: 100;
}

.menuContainer {
  height: 45px;
  width: 50px;
  position: relative;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.menuContainer span {
  height: 5.5px;
  width: 100%;
  background-color: #ffc576;
  -webkit-box-shadow: 2px 2px #1f2336;
          box-shadow: 2px 2px #1f2336;
  position: absolute;
  border-radius: 10px;
  display: block;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menuContainer span:nth-child(1) {
  top: 0;
}

.menuContainer span:nth-child(2) {
  top: 15px;
}

.menuContainer span:nth-child(3) {
  top: 30px;
}

.animate span:nth-child(1) {
  top: 20px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.animate span:nth-child(2) {
  display: none;
  -webkit-transition: .9s ease-in-out;
  transition: .9s ease-in-out;
}

.animate span:nth-child(3) {
  top: 20px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.dropDownMenu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(31, 35, 54, 0.7);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  right: -1000px;
  -webkit-transition: right 0.8s;
  transition: right 0.8s;
  z-index: 50;
}

.dropDownMenu li {
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

.dropDownMenu li a {
  padding: 40px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  display: inline-block;
  text-align: center;
}

.open {
  right: 140px;
}

.decorate {
  -webkit-box-shadow: 2px 2px 3px #1f2336;
          box-shadow: 2px 2px 3px #1f2336;
}

.dropDownMenu li:first-child a {
  font-weight: bold;
}

.dropDownMenu li:last-child {
  border-bottom: none;
}

.dropDownMenu li a:hover {
  color: #acc421;
  -webkit-transition: .5s;
  transition: .5s;
}

/************************/
/* About Section Styles */
/************************/
.allAboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.allAboutMe .headShotContainer {
  width: 45%;
  margin-right: 50px;
}

.allAboutMe .headShotContainer img {
  border-radius: 10px;
  width: 100%;
}

.aboutMeContent {
  width: 100%;
  text-align: left;
}

.aboutMeContent p:nth-child(2) {
  padding: 20px 0 10px 0;
}

/*************************/
/* Skills Section Styles */
/*************************/
.skillsSection {
  margin: 100px 0;
}

.border {
  border: 1.5px solid #ffc576;
  border-radius: 10px;
  padding: 35px 0 45px;
}

.border h2 {
  margin: 30px 0 20px;
}

.border ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.border ul li {
  width: 30%;
  padding: 10px;
}

.border ul li i {
  width: 100%;
  font-size: 5rem;
}

.border ul li img {
  display: block;
  margin: 0 auto;
}

.border ul li p {
  color: #ffc576;
  font-size: 1.4rem;
}

/***************************/
/* Projects Section Styles */
/***************************/
.projectsSection h2 {
  margin-bottom: 5px;
}

.allProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.allProjects .imageContainer {
  width: 45%;
  margin-right: 30px;
}

.allProjects .imageContainer img {
  border-radius: 5px;
  width: 100%;
}

.projectsContent {
  width: 55%;
  text-align: left;
}

.projectsContent h3 {
  margin-bottom: 15px;
}

.projectsContent p {
  margin-bottom: 15px;
}

.projectsContent .toolsUsed {
  margin-bottom: 35px;
}

.projectsContent .toolsUsed li {
  display: inline-block;
  text-align: center;
}

.projectsContent .toolsUsed span {
  margin: 0 10px;
}

.projectsContent .projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projectsContent .projectLinks a {
  text-align: center;
  color: #ffffff;
}

.projectsContent .projectLinks a:hover,
.projectsContent .projectLinks a:focus {
  color: #acc421;
  border-bottom: 2px solid #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projectsContent .projectLinks a:active {
  color: #ffffff;
  border-bottom: 2px solid #acc421;
}

.projectsContent .projectLinks span {
  margin: 2px 20px;
}

.allProjects:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 50px 0;
}

.allProjects:nth-child(3) .imageContainer {
  margin-left: 30px;
  margin-right: 0px;
}

.allProjects:nth-child(3) .projectsContent {
  text-align: right;
}

.allProjects:nth-child(3) .projectsContent .projectLinks {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.allProjects:nth-child(3) .projectsContent a {
  color: #ffffff;
}

.allProjects:nth-child(3) .projectsContent a:hover,
.allProjects:nth-child(3) .projectsContent a:focus {
  color: #acc421;
  border-bottom: 2px solid #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allProjects:nth-child(3) .projectsContent a:active {
  color: #ffffff;
  border-bottom: 2px solid #acc421;
}

/**************************/
/* Contact Section Styles */
/**************************/
.contactSection {
  margin: 60px 0 0 0;
}

.socialsAndForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.blurbAndSocials {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.blurbAndSocials h3 {
  padding: 20px 0;
}

.blurbAndSocials h4 {
  padding: 20px 0;
}

.blurbAndSocials h4 a:hover {
  color: #acc421;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blurbAndSocials h4 a:active {
  color: #ffffff;
}

.socialMedia nav {
  display: inline-block;
}

.socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialMedia ul li {
  padding: 0 30px 0 0;
}

.socialMedia ul li i {
  font-size: 3rem;
}

.socialMedia a:focus,
.socialMedia a:hover {
  color: #acc421;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.socialMedia a:active {
  color: #ffffff;
}

.formOnly {
  width: 53%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.topForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.topForm .nameForm,
.topForm .emailForm {
  width: 95%;
}

.topForm .nameForm .name,
.topForm .nameForm .email,
.topForm .emailForm .name,
.topForm .emailForm .email {
  width: 100%;
}

.topForm .nameForm {
  margin-right: 10px;
}

.topForm .emailForm {
  margin-left: 10px;
}

.bottomForm {
  width: 100%;
}

.message {
  width: 100%;
}

button {
  background-color: #313552;
  color: #ffc576;
  font-family: "Noto Sans HK", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #ffc576;
  border-radius: 5px;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 15px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input,
textarea {
  border: 2px solid #ffc576;
  background-color: #313552;
  padding: 15px 20px;
  color: #ffffff;
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Noto Sans HK", sans-serif;
  border-radius: 5px;
}

::-webkit-input-placeholder {
  font-family: "Noto Sans HK", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1.8px;
  font-weight: 300;
  color: #ffffff;
}

:-ms-input-placeholder {
  font-family: "Noto Sans HK", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1.8px;
  font-weight: 300;
  color: #ffffff;
}

::-ms-input-placeholder {
  font-family: "Noto Sans HK", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1.8px;
  font-weight: 300;
  color: #ffffff;
}

::placeholder {
  font-family: "Noto Sans HK", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1.8px;
  font-weight: 300;
  color: #ffffff;
}

input:focus,
textarea:focus,
button:focus {
  border-radius: 5px;
  border: 2px solid #ffffff;
}

input:hover,
textarea:hover {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #acc421;
}

button:hover {
  border: 2px solid #ffffff;
  background-color: #ffc576;
  color: #1f2336;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

textarea {
  resize: none;
  width: 100%;
  margin-bottom: 20px;
}

/******************/
/*  Footer Styles */
/******************/
footer {
  text-align: center;
  background-color: #1f2336;
  padding: 10px 0;
}

/*****************/
/* Media Queries */
/*****************/
@media (max-width: 1248px) {
  /* Global Styles */
  .wrapper {
    margin: 90px auto;
  }
  /* About Me Section Styles */
  .allAboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .allAboutMe .headShotContainer {
    margin-bottom: 30px;
    margin-right: 0px;
  }
  .allAboutMe .aboutMeContent {
    text-align: center;
  }
  /* Projects Section Styles */
  .projectsSection .allProjects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectsSection .allProjects .imageContainer {
    width: 80%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .projectsSection .allProjects .projectsContent {
    width: 85%;
    text-align: center;
  }
  .projectsSection .allProjects .projectLinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projectsSection .allProjects:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectsSection .allProjects:nth-child(3) .imageContainer {
    margin-left: 0px;
  }
  .projectsSection .allProjects:nth-child(3) .projectsContent {
    width: 85%;
    text-align: center;
  }
  .projectsSection .allProjects:nth-child(3) .projectLinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* Contact Section Styles */
  .blurbAndSocials {
    width: 40%;
  }
  .topForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topForm .nameForm {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .topForm .emailForm {
    margin-left: 0px;
  }
  .topForm .nameForm,
  .topForm .emailForm {
    width: 100%;
  }
}

@media (max-width: 1021px) {
  /* Global Styles */
  .wrapper {
    width: 75%;
    margin: 60px auto;
  }
  /* About Me Styles */
  .aboutSection .allAboutMe .headShotContainer {
    width: 60%;
  }
  /* Projects Section Styles */
  .projectsSection .allProjects .imageContainer {
    width: 90%;
  }
  /* Contact Section Styles */
  .socialsAndForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blurbAndSocials {
    width: 100%;
    text-align: center;
  }
  .blurbAndSocials h3 {
    padding: 0px;
  }
  .blurbAndSocials p {
    padding: 15px 0;
  }
  .blurbAndSocials h4 {
    padding: 0px;
  }
  .socialMedia ul li {
    padding: 20px 15px 40px;
  }
  .formOnly {
    width: 100%;
  }
  .topForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  .topForm .nameForm,
  .topForm .emailForm {
    width: 95%;
  }
  .topForm .nameForm .name,
  .topForm .nameForm .email,
  .topForm .emailForm .name,
  .topForm .emailForm .email {
    width: 100%;
  }
  .topForm .nameForm {
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .topForm .emailForm {
    margin-left: 10px;
  }
}

@media (max-width: 850px) {
  /* Nav Styles */
  .mobileMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    display: none;
  }
}

@media (max-width: 880px) {
  /* Global Styles */
  .allContentContainer {
    width: 72%;
    margin: 55px auto;
  }
  /* About Me Styles */
  .aboutSection .allAboutMe .headShotContainer {
    width: 60%;
  }
  /* Projects Section Styles */
  .projectsSection .allProjects .imageContainer {
    width: 100%;
  }
  .projectsSection .allProjects .projectsContent {
    width: 100%;
  }
  .projectsSection .allProjects:nth-child(3) .projectsContent {
    width: 100%;
  }
}

@media (max-width: 700px) {
  /* Global Styles */
  .wrapper {
    width: 85%;
    margin: 60px auto;
    padding: 35px;
  }
  h1 {
    font-size: 5.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  /* Contact Section Styles */
  .topForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topForm .nameForm {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .topForm .emailForm {
    margin-left: 0px;
  }
  .topForm .nameForm,
  .topForm .emailForm {
    width: 100%;
  }
}

@media (max-width: 500px) {
  /* Global Styles */
  h1 {
    font-size: 5rem;
  }
  /* About Me Styles */
  .aboutSection .allAboutMe .headShotContainer {
    width: 100%;
  }
  /* Skills Styles */
  .skillsSection {
    margin: 40px 0;
  }
  .border ul li {
    width: 46%;
    padding: 10px 0px;
  }
  .border ul li i {
    width: 100%;
    font-size: 3.5rem;
    text-align: center;
  }
  .border ul li img {
    height: 35px;
  }
  .border ul li p {
    font-size: 1.1rem;
  }
}

@media (max-width: 422px) {
  /* Global Styles */
  .wrapper {
    width: 88%;
    margin: 40px auto;
    padding: 22px;
  }
  /* Contact Section Styles */
  .socialMedia nav ul li {
    padding: 20px 13px 40px;
  }
}

@media (max-width: 390px) {
  /* Global Styles */
  h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 352px) {
  /* Global Styles */
  .wrapper {
    padding: 20px;
  }
  h1 {
    font-size: 4rem;
  }
  /* Contact Section Styles */
  .socialMedia nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socialMedia nav ul li:first-child {
    padding-left: 0px;
  }
  .socialMedia nav ul li:last-child {
    padding-right: 0px;
  }
}

@media (max-width: 320px) {
  /* Global Styles */
  .wrapper {
    margin: 40px auto;
    padding: 18px;
  }
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
}
